//-h1 Lets see what happens
head 
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
body
    h1 Lets see if it works
    p OOOOOOOOOO
    p fddgddg 

    block content1
        p Hello there this is a placeholder

