extends base

block content 
    form.form_card
        label Enter your email 
        input(type="email" placeholder="abc@xyz.com") 
        br
        label Enter your password 
        inpu(type="password" placeholder="*******")